.header{
    display: flex;
    background-color: #f8f8f8;
    height: 140px;
}
.logo-coin{
    height: 60px;
    width: 60px;
    margin-left: 40px
}
.logo-title{
    font-family: tahoma;
    color: black;
    font-size: 20px;
    margin-top: 5px;
    font-weight: bold;
}
.logo-icon{
    margin-top: 30px;
    margin-left: 50px;
}
.navigation-section{
    display: flex;
}
nav{
    margin-left: 60px;
    margin-top: 60px;
}
ul{
    display: flex;
    font-family: raleway;
    font-weight: bold;
}
.nav{
    margin-left: 40px;
    color: black;
}
.fa-search{
    color: black;
    margin-top: 7px;
    margin-left: 12px;
}
.search-input{
    border-color: black;
    margin-left: 30px;
    margin-top: 2px;
}
.search{
    display: flex;
}
.button1{
    border-radius: 5px;
    background-color: #dcdcdc;
    border-style: none;
    height: 30px;
    width: 60px;
}
.button2{
    border-radius: 5px;
    background-color: blue;
    color: white;
    border-style: none;
    height: 30px;
    margin-left: 7px;
}
.button-list{
    margin-left: 190px;
}
.burger{
    margin-top: 65px;
    margin-left: 40px;
    display: none;
}
.img1{
    height: 320px;
    width: 230px;
    margin-top: 30px;
    margin-left: 40px;
}
.paragraph-1{
    font-family: raleway;
    font-weight: bold;
    font-size: 20px;
    margin-top: 15px;
    margin-left: 40px;
}
.inputs{
    margin-top: 200px;
    margin-left: 130px;
}
.input-section{
    display: flex;
    flex-direction: row-reverse;
}
.input1{
    height: 30px;
    width: 250px;
    margin-left: 50px;
}
.input2{
    height: 30px;
    width: 250px;
    margin-left: 50px;
}
.input-pgbh{
    font-size: 17px;
    font-family: raleway;
    font-weight: 200;
    margin-bottom: 10px;
    margin-top: 55px;
    margin-left: 50px;
}
.input-img{
    margin-top: 50px;
    width: 520px;
    height: 650px;
}